engine-strict = true
progress = false
@eon-ui:registry=https://repo.eon-cds.de/artifactory/api/npm/eon-ui-local/
//repo.eon-cds.de/artifactory/api/npm/eon-ui-local/:_auth=${ARTIFACTORY_AUTH_TOKEN}
always-auth = true
