.add-region-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    max-width: 1350px;
}

.add-region-headline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-self: flex-start;
}

.add-region-headline-left{
    display: flex;
    align-items: center;
}

.add-region-headline-left h1{
    color: #EA1B0A;
    margin-top: -5px;
    padding: 0;

}

.add-region-headline-right{
    display: flex;
    align-items: center;
}

.add-region-back-icon{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.add-bonus-form{
    width: 100%;
}